.home-main {
    background-color: #020617;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: center; /* Ensures text is centered */
}

.home-sub {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns inner content */
    margin-bottom: 13vh;
}

.home-name {
    color: white;
    font-weight: bold;
    font-size: 10vh;
}

.home-position{
    font-size: 3vh;
    color: white;
}

/* .lastname::selection{
    color: #FFFFFF;
    background-color: #0EA5E9;
}

.firstname::selection{
    color: #0EA5E9;
    background-color: #FFFFFF;
} */

i {
    font-size: 3vh;  /* Adjust size of the icons */
  }

i:hover{
    color: #0EA5E9 !important ;
}
